.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 82vh;
  justify-content: center;
  overflow: hidden;
}

.contact h1 {
  font-family: "Spectral", serif;
  font-size: 38px;
  color: var(--secondaryColor);
  text-align: center;
  margin-bottom: 40px;
}

.icon {
  color: var(--secondaryColor);
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size: 20px;
  margin-right: 15px;
}

.container {
  align-items: start;
  justify-content: baseline;
}

.container .box {
  width: 200px;
}

.box .info {
  color: black;
  font-size: 1rem;
}

.contactForum {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.forum {
  width: 300px;
  color: #000;
}
.field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--mainColorLight);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.contactGift {
  max-width: 400px;
  align-items: center;
  justify-content: center;
}

#message {
  height: 100px;
  align-items: first baseline;
  text-align: start;
}

@media only screen and (max-width: 1024px) {
  /* Juster stiler for mindre skjermer her */
  .contact {
    height: auto;
    width: 100%; /* Endre høyde til automatisk tilpassning */
    /* Reduser padding for mindre skjermer */
  }
  .contact h1 {
    font-size: 24px; /* Endre fontstørrelse for h1-elementet */
    /* Juster toppmargin for h1-elementet */
  }
  .icon {
    font-size: 16px; /* Endre ikonstørrelse */
  }
  .container .box {
    width: auto; /* Gjør boksene full bredde */
  }
  .contactForum {
    margin-bottom: 0px; /* Reduser bunnplassering for forumet */
  }
  .forum {
    width: auto; /* Gjør forumet full bredde */
    margin-left: 20px;
  }
  .field {
    margin-bottom: 10px; /* Reduser mellomrom mellom feltene */
  }
  input[type="text"] {
    padding: 2px; /* Reduser tekstinntakets padding */
  }
  #button {
    font-size: 16px; /* Endre knappens fontstørrelse */
  }
  .contactGift {
    max-width: 300px; /* Reduser maksimal bredde for gaven */
  }
  #message {
    height: 150px; /* Juster høyden på meldingsboksen */
  }
}
@media screen and (max-width: 450px) {
  .contact {
    height: auto;
  }
  .contact h1 {
    font-size: 1rem;
  }

  .forum {
    bottom: 0;
  }

  .contactGift {
    display: block;

    width: auto;
    border-radius: 50%;
    height: auto;
    overflow: hidden;
  }

  #message {
    height: 100px;
  }

  .contactForum {
    height: auto;
    width: auto;
  }

  .container .box {
    width: auto;
  }
  p {
    font-size: 0.8rem;
  }
}
