.footer {
  display: flex;
  background-color: var(--mainColor);
  height: 80px;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
}

.linkedin,
.Github {
  height: 40px;
  width: 40px;
  color: var(--textColor);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1024px) {
  .footer {
    bottom: 0;
    display: flex;
    background-color: var(--mainColor);
    height: 60px;
    align-items: center;
    justify-content: space-around;
  }
  .linkedin,
  .Github {
    height: 20px;
    width: 20px;
    color: var(--textColor);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
}
