.footer {
  display: flex;
  background-color: var(--mainColor);
  height: 80px;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
}

.linkedin,
.Github {
  height: 40px;
  width: 40px;
  color: var(--textColor);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
