* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spectral", serif;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: orange;
  --textColor: #ffff;
  height: 100vh;
  align-items: center;
}

.logo img {
  height: auto;
  width: 80px;
  padding: 5px;
  transition: filter 300ms;
}

.logo img:hover {
  filter: drop-shadow(0 0 2px #646cffaa);
}

.logo img.react:hover {
  filter: drop-shadow(0 0 2px #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

li {
  margin-right: 30px;
  margin-left: 30px;
  list-style: none;
  position: relative;
  cursor: pointer;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--textColor);
  font-size: 1.5rem;
}

a:hover {
  color: var(--secondaryColor);
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mainColor);
  color: var(--textColor);
}

.nav-btn {
  display: flex;
  cursor: pointer;
  background: none;
  align-items: center;
  justify-content: center;
  border: none;
  opacity: 0;
  outline: none;
  color: var(--textColor);
  font-size: 1.5rem;
  transition: opacity 0.3s ease;
}

.nav-btn:hover {
  opacity: 0.7;
}

.nav-close-btn {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 3rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  font-size: 1.8rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-close-btn.active {
  opacity: 1;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.nav-list .icon {
  font-size: 2rem;
  color: var(--textColor);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.nav-list .icon:hover {
  color: var(--secondaryColor);
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: inherit;
  }

  header nav {
    display: flex;
    flex-wrap: row;
    position: fixed;
    top: 80px;
    gap: 1rem;
    cursor: pointer;
    transition: 1s;
    transform: translateY(-250%);
    background: var(--mainColorLight);
    font-size: 1rem;
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    width: 100%;
    height: 30px;
    overflow: hidden;
    justify-content: end;
    align-items: center;
  }

  nav a {
    font-size: 1.5rem;
    align-items: center;
  }

  .nav-list {
    font-size: 1rem;
  }
}
